@{
    @using ClassLibrarySBank.Model;

    @model AccountModel;

    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="divContent">
    @Html.LabelForModel(new {@class="", Type = "input", value = $"{Model.Amount}"})

    <h1 class="display-4 name">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @*<input id="Taxnumber" hidden value="@Model.Person.TaxNumber">
    <input id="Name" hidden value="@Model.Person.Name">
    <input id="BirthDate" hidden value="@Model.Person.BirthDate">
    <input id="Amount" hidden value="@Model.Amount">
    <input id="Credit" hidden value="@Model.Credit">*@
</div>

<script>

    document.r

</script>

